<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
            <br><br><br>
        <form action="http://localhost:5000/check_credentials_client" method = "post">
            Please enter your credentials
            <label for="emp_id">Enter your employee ID:</label>
            <input type="text" value="Submit" name = "emp_id">
            <input type="submit" value="Submit">
        </form>
        </center>
</body>
</html>
