<html>
    <head>
        <style>            
            .parent {
                border: 1px solid black;
                margin: 1rem;
                padding: 2rem 2rem;
                text-align: center;
            }
            .child {
                height : 300px;
                display: inline-block;
                border: 1px solid red;
                padding: 1rem 1rem;
                vertical-align: middle;
            }
            #demo{
                margin : 1 px solid black;
            }
        </style>
    </head>
<body>	
    <center><h1>Welcome user</h1></center>
    <br><br>
    <div class = 'parent' >
        <div class = 'child'>
            <!---- version license systemserialnumber ----->
            <center>Create new License file</center>
            <form >
                <br><br>
                <label for = "plaintext">Enter your system number: </label>
                <input type = "text" id = "SystemNumber" name = "SystemNumber" ><br>    	
                <br>
                <input type = "checkbox" name = "License" id = "checkbox_id">
                <label for = "html"  name = "ESS License">ESS License</label>
                <br><br>
                <input id = "save_file" type="button" value = "Save File" name = "Save File" onclick = "myfun2()" />
                <div id = "demo">
                    
                </div>
                <br>
                <br>
                <button formaction = "http://localhost:5000/encode" formmethod = "POST">Create File</button>
                <input type="file" dialogtype="save" />
                 
            </form>	
        
        </div>
        <div class = 'child' style="margin-left: 100px;width:350px">
            <form action = "http://localhost:5000/decode_file" method = "post" >
                Read contents of existing License file<br><br>
                <label for ="cipher"></label>
                <input type="file" id="input_cipher_file" name = "Choose File" onclick = "change()">
                <p><input type = "submit" value = "submit" /></p>
                
            </form>
        </div>
    </div>
    <script>
        $("#save_file").click(function () {
            event.preventDefault();
        });

        function change(){
            const data = document.getElementById('input_cipher_file')
            document.getElementById('demo').innerHTML = data;
        }
        function myfun2(){
            var mark = 0
            if(document.getElementById('checkbox_id').checked){
                mark = 1
            }
            else {
                mark = 0;
            }
            const data = document.getElementById('SystemNumber').value;
            document.getElementById('demo').innerHTML = "<br><div>NonStop ESS License <br>Version : 1 <br>SystemSerialNumber : " + data + "\n <br>License : " +mark ;

            
            
        }
    
        function myFunction() {
            var x = document.getElementById("plaintext");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            }

    </script>
</body>
</html>

