body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Heading */
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #008080;
    text-shadow: 2px 2px #ccc;
    margin-bottom: 20px;
  }
  
  /* Form */
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  /* Labels */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  /* Inputs */
  input[type="text"],
  input[type="checkbox"],
  input[type="submit"],
  input[type="button"],
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Button */
  button {
    background-color: #008080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  /* Button hover */
  button:hover {
    background-color: #006666;
  }
  
  /* Parent div */
  .parent {
    display: flex;
    justify-content: center;
  }
  
  /* Child divs */
  .child {
    width: 350px;
    margin: 0 20px;
  }
  